<h1>Editing purchase</h1>

<%= render 'form' %>

<%= link_to '<i class="icon-search"></i> Show'.html_safe, @purchase, class: 'btn' %>
<%= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, purchases_path, class: 'btn' %>
