<!DOCTYPE html>
<html>
<head>
  <title>Bookkeeper</title>
  <%= stylesheet_link_tag    "bookkeeper/application", :media => "all" %>
  <%= javascript_include_tag "bookkeeper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
